<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-80}</string>
                <key>spriteSize</key>
                <string>{400,165}</string>
                <key>spriteSourceSize</key>
                <string>{862,487}</string>
                <key>textureRect</key>
                <string>{{1,795},{400,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,81}</string>
                <key>spriteSize</key>
                <string>{792,323}</string>
                <key>spriteSourceSize</key>
                <string>{862,487}</string>
                <key>textureRect</key>
                <string>{{1,1},{792,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,54}</string>
                <key>spriteSize</key>
                <string>{764,321}</string>
                <key>spriteSourceSize</key>
                <string>{862,487}</string>
                <key>textureRect</key>
                <string>{{326,1},{764,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,23}</string>
                <key>spriteSize</key>
                <string>{734,295}</string>
                <key>spriteSourceSize</key>
                <string>{862,487}</string>
                <key>textureRect</key>
                <string>{{488,1145},{734,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{720,265}</string>
                <key>spriteSourceSize</key>
                <string>{862,487}</string>
                <key>textureRect</key>
                <string>{{1189,1},{720,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{720,267}</string>
                <key>spriteSourceSize</key>
                <string>{862,487}</string>
                <key>textureRect</key>
                <string>{{920,1},{720,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{720,269}</string>
                <key>spriteSourceSize</key>
                <string>{862,487}</string>
                <key>textureRect</key>
                <string>{{649,1},{720,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,104}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{1591,1198},{105,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{155,154}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{1435,1198},{155,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{209,206}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{1224,1137},{209,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{229,226}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{1224,723},{229,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,248}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{1,1197},{249,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,268}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{1456,600},{269,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{289,290}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{1456,309},{289,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{307,306}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{1456,1},{307,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{325,326}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{1455,870},{325,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{341,340}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{859,723},{341,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,348}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{168,795},{347,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,340}</string>
                <key>spriteSourceSize</key>
                <string>{411,408}</string>
                <key>textureRect</key>
                <string>{{517,767},{343,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardback01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{50,246}</string>
                <key>spriteSourceSize</key>
                <string>{184,250}</string>
                <key>textureRect</key>
                <string>{{168,1145},{50,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardback02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{94,246}</string>
                <key>spriteSourceSize</key>
                <string>{184,250}</string>
                <key>textureRect</key>
                <string>{{392,1197},{94,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardback03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{138,246}</string>
                <key>spriteSourceSize</key>
                <string>{184,250}</string>
                <key>textureRect</key>
                <string>{{252,1197},{138,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardback04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,250}</string>
                <key>spriteSourceSize</key>
                <string>{184,250}</string>
                <key>textureRect</key>
                <string>{{1201,951},{184,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>laiziCardbackFrontlightCrown.png</string>
            <key>size</key>
            <string>{1781,1446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dacf25dca81ecef3deed3feaf643e31:26e285a26db8922a24119eb5f8bf2ef2:41128eb4a5a068dd92df799e14417e36$</string>
            <key>textureFileName</key>
            <string>laiziCardbackFrontlightCrown.png</string>
        </dict>
    </dict>
</plist>
