<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armature_newAnimation_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,13}</string>
                <key>spriteSize</key>
                <string>{374,225}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{965,1438},{374,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,12}</string>
                <key>spriteSize</key>
                <string>{396,237}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{250,1265},{396,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_newAnimation_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,12}</string>
                <key>spriteSize</key>
                <string>{418,247}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1,1265},{418,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_newAnimation_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{438,261}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1483,1},{438,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,12}</string>
                <key>spriteSize</key>
                <string>{438,261}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1483,264},{438,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,14}</string>
                <key>spriteSize</key>
                <string>{454,261}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1427,1370},{454,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,14}</string>
                <key>spriteSize</key>
                <string>{458,265}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{967,1171},{458,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,16}</string>
                <key>spriteSize</key>
                <string>{462,271}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1473,527},{462,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,15}</string>
                <key>spriteSize</key>
                <string>{466,273}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1449,1095},{466,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,14}</string>
                <key>spriteSize</key>
                <string>{470,277}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{977,892},{470,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,13}</string>
                <key>spriteSize</key>
                <string>{474,279}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{501,621},{474,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,12}</string>
                <key>spriteSize</key>
                <string>{474,283}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{491,902},{474,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,12}</string>
                <key>spriteSize</key>
                <string>{474,287}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{997,312},{474,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,11}</string>
                <key>spriteSize</key>
                <string>{474,289}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{981,601},{474,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,11}</string>
                <key>spriteSize</key>
                <string>{474,293}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1457,800},{474,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,10}</string>
                <key>spriteSize</key>
                <string>{474,295}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{489,1187},{474,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{476,301}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{503,318},{476,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{480,305}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1,958},{480,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{484,309}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{997,1},{484,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{488,313}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1,643},{488,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{492,315}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{503,1},{492,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{498,317}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1,324},{498,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,321}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ReverseSpring.png</string>
            <key>size</key>
            <string>{1936,1684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8524fa8005fe54445d0656522a2242e:444cfd7bd9f94a6998d81a0b34c604d8:2b88b25b9165a7d9ea9a0849244e6eb9$</string>
            <key>textureFileName</key>
            <string>ReverseSpring.png</string>
        </dict>
    </dict>
</plist>
