<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>噴射火.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,72}</string>
                <key>spriteSourceSize</key>
                <string>{194,72}</string>
                <key>textureRect</key>
                <string>{{251,667},{194,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>煙1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,92}</string>
                <key>spriteSourceSize</key>
                <string>{245,92}</string>
                <key>textureRect</key>
                <string>{{251,573},{245,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>煙2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{1,679},{68,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>飛機字.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,104}</string>
                <key>spriteSourceSize</key>
                <string>{248,104}</string>
                <key>textureRect</key>
                <string>{{1,573},{248,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>飛機體.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,476}</string>
                <key>spriteSourceSize</key>
                <string>{570,476}</string>
                <key>textureRect</key>
                <string>{{1,1},{570,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Airplane.png</string>
            <key>size</key>
            <string>{497,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92d8c9496f33039d88be4f50524ec41a:013f612436cde735087861421aa35582:5f0eacd0693ef70c40ee7dc771ed520c$</string>
            <key>textureFileName</key>
            <string>Airplane.png</string>
        </dict>
    </dict>
</plist>
