<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{930,186}</string>
                <key>spriteSourceSize</key>
                <string>{930,186}</string>
                <key>textureRect</key>
                <string>{{0,0},{930,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{930,0},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{0,284},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{662,284},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{1324,284},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{0,568},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{662,568},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{1324,568},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{0,852},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{662,852},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{1324,852},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{0,1136},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{662,1136},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{1324,1136},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{0,1420},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{662,1420},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{1324,1420},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,284}</string>
                <key>spriteSourceSize</key>
                <string>{662,284}</string>
                <key>textureRect</key>
                <string>{{0,1704},{662,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameStart_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,326}</string>
                <key>spriteSourceSize</key>
                <string>{728,326}</string>
                <key>textureRect</key>
                <string>{{662,1704},{728,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameStart.png</string>
            <key>size</key>
            <string>{1986,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f89f2aee9568d5d8ff55694e877f5f01:d65b0161a678bbcec5931f49ef5dc836:9700f11ba298d9905ae158fd672bb746$</string>
            <key>textureFileName</key>
            <string>gameStart.png</string>
        </dict>
    </dict>
</plist>
