<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-2}</string>
                <key>spriteSize</key>
                <string>{469,172}</string>
                <key>spriteSourceSize</key>
                <string>{591,188}</string>
                <key>textureRect</key>
                <string>{{553,476},{469,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-4}</string>
                <key>spriteSize</key>
                <string>{501,176}</string>
                <key>spriteSourceSize</key>
                <string>{591,188}</string>
                <key>textureRect</key>
                <string>{{365,1},{501,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{501,178}</string>
                <key>spriteSourceSize</key>
                <string>{591,188}</string>
                <key>textureRect</key>
                <string>{{187,504},{501,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{503,180}</string>
                <key>spriteSourceSize</key>
                <string>{591,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{503,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{501,180}</string>
                <key>spriteSourceSize</key>
                <string>{591,188}</string>
                <key>textureRect</key>
                <string>{{183,1},{501,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{501,184}</string>
                <key>spriteSourceSize</key>
                <string>{591,188}</string>
                <key>textureRect</key>
                <string>{{1,506},{501,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{499,184}</string>
                <key>spriteSourceSize</key>
                <string>{591,188}</string>
                <key>textureRect</key>
                <string>{{367,504},{499,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,2}</string>
                <key>spriteSize</key>
                <string>{473,180}</string>
                <key>spriteSourceSize</key>
                <string>{591,188}</string>
                <key>textureRect</key>
                <string>{{543,1},{473,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,313}</string>
                <key>spriteSourceSize</key>
                <string>{377,313}</string>
                <key>textureRect</key>
                <string>{{1579,1},{377,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb -07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{188,190}</string>
                <key>spriteSourceSize</key>
                <string>{432,432}</string>
                <key>textureRect</key>
                <string>{{1361,821},{188,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb -08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{254,258}</string>
                <key>spriteSourceSize</key>
                <string>{432,432}</string>
                <key>textureRect</key>
                <string>{{1579,380},{254,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb -09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{322,326}</string>
                <key>spriteSourceSize</key>
                <string>{432,432}</string>
                <key>textureRect</key>
                <string>{{1555,636},{322,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb -10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{392,388}</string>
                <key>spriteSourceSize</key>
                <string>{432,432}</string>
                <key>textureRect</key>
                <string>{{1161,431},{392,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb -11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{418,428}</string>
                <key>spriteSourceSize</key>
                <string>{432,432}</string>
                <key>textureRect</key>
                <string>{{1159,1},{418,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb -12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,432}</string>
                <key>spriteSourceSize</key>
                <string>{432,432}</string>
                <key>textureRect</key>
                <string>{{725,1},{432,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb -13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,432}</string>
                <key>spriteSourceSize</key>
                <string>{432,432}</string>
                <key>textureRect</key>
                <string>{{727,435},{432,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,120}</string>
                <key>spriteSourceSize</key>
                <string>{266,120}</string>
                <key>textureRect</key>
                <string>{{727,869},{266,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>警鈴.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,198}</string>
                <key>spriteSourceSize</key>
                <string>{191,198}</string>
                <key>textureRect</key>
                <string>{{1161,821},{191,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>all.png</string>
            <key>size</key>
            <string>{1893,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c66c393b9d5b9d4f2f5bbee4061bbb86:7a361732a44f5244a90a513406036221:928a4ce365e7133476de68860937c334$</string>
            <key>textureFileName</key>
            <string>all.png</string>
        </dict>
    </dict>
</plist>
