<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>point_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{171,0},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{342,0},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{513,0},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{684,0},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{0,24},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{171,24},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{342,24},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{513,24},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{684,24},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{0,48},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{171,48},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{342,48},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{513,48},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{684,48},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{0,72},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{171,72},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{342,72},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{513,72},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{684,72},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{0,96},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{171,96},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{342,96},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{513,96},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,24}</string>
                <key>spriteSourceSize</key>
                <string>{171,24}</string>
                <key>textureRect</key>
                <string>{{684,96},{171,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,120},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,120},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,199},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,199},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,278},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,278},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,357},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,357},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,436},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,436},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,515},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,515},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,594},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,594},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,673},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,673},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,752},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,752},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,831},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,831},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,910},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,910},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,989},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{368,989},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>system_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{0,1068},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>waiting.png</string>
            <key>size</key>
            <string>{855,1147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dabd0a9ef02d940542ed5da71639d6a:b73fbc39ffbadd5040c9b6cccd7185ac:7744eb7e4549c9963eb2621c4ffd153c$</string>
            <key>textureFileName</key>
            <string>waiting.png</string>
        </dict>
    </dict>
</plist>
